@{
    ViewData["Title"] = "Einstellungen";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@if(Model.stundens != null)
{


}
else
{


}
<form action="/Home/CheckToContinue" method="post">
    @Html.DropDownList("Klassen", ViewBag.klasselist as SelectList, "Wähle deine Klasse aus")
    <input type="submit" value="Submit" />
</form>